body{
    font-family: Arial;
}
.todo-list{
    display: grid;
    /* margin: 0 auto; */
    align-items: center;
    justify-content: center;
}
.todo-grid,
.todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.todo-input-grid{
    margin-bottom: 10px;
    align-items: stretch;

}

.input-name, 
.input-date{
    font-size: 15px;
    padding: 15px;
}
.add-todo-button{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    width: 80px;

}

.delete-todo-button{
    background-color: darkred;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 0 10px;
    width: 80px;
}


@media screen and (max-width: 630px){
    .todo-grid,
.todo-input-grid{
    grid-template-columns: 150px 100px 100px;
    row-gap: 7px;
    column-gap: 7px;
}
.add-todo-button{
    font-size: 11px;
}
.delete-todo-button{
    font: 11px;
    padding: 7px 0 px 7px;
}

}